*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
.left {
    width: 45%;
    padding: 2rem 4rem;
}
.right {
    width: 55%;
}
.left .logo {
display: flex;
margin-top: 60px;
width: 350px;
height: 90px;
}
.top-con img {
    height: 25px;
}
.top-con{ 
    margin-top: 65px;
}
.left .login-form input{
    display: inline-block;
height: 75px;
width: 400px;
margin-left: 40px;
margin-top: 20px;
}
.left .login-form .fp{
    margin-top: 50px;
    font-size: larger;
}
.left .login-form .fp button{
    margin-left: 175px;
    background-color: black;
    color: azure;
    height: 40px;
    width: 90px;
}
.left .button-links{
    margin-top: 200px;
    margin-left: 40px;
}
.left .button-links button{
    
    margin-left: 100px;
    margin-top: 35px;
}
.left .button-links .footer {
    margin-top: 20px;
}
.right{
    background: url(./bg.jpeg) no-repeat scroll center / cover;
    display: flex;
    flex-direction: column;
   
  }

















/* .right {
    background: url(./bg.jpeg) no-repeat scroll center cover;
   display: flex;
flex-direction: column;
align-items: center;

justify-content: flex-end;
 
}
.top-con-2 {
    display: flex;
    justify-content: flex-end;
   
} */